body {
  background-color: #ff5f32;
}
header {
  background-color: #282a3a;
  color: white;
}
.section {
  background-color: #735f32;
  color: white;
}

.btn:hover {
  background-color: #ff2600;
  color: blue;
  padding: 10px;
}
.btn {
  border: 5px;
  padding: 1em;
  cursor: pointer;
  color: white;
  background-color: #ff7b00;
}
footer {
  background-color: #c69749;
  color: white;
}
img {
  width: 300px;
}
