p {
    color: darkblue;
}

.special{
    text-decoration: underline;
    text-transform: uppercase;
}

.color-reserved {
    color: hotpink;
}

.color-rgb {
    color: rgb(5, 94, 55);
}

.color-hex {
    color: #0044FF;
}

.color-hsl {
    color:hsl(57, 71%, 23%);
}